/*Defines the geometry and looks of navigation bar*/
.navbar {
    background: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-left .logo {
    font-size: 20px;
    font-weight: bold;
    color: #0073b1;
    text-decoration: none;
}
.nav-right a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
}
/*The font settings for Nav bar slogans*/
.nav-tags {
    font-size: 14px;
    font-weight: 500;
    color: #0073b1 !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right:10px;
}
